
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Colônia Z-65 | Cadastrar Clientes</title>

    <!-- Custom fonts for this template -->
    <link rel="icon" type="image/png" sizes="16x16"  href="/img/favicon-16x16.png">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->

    <div id="wrapper">
        <!-- Content Wrapper -->
            <!-- Menu Lateral -->
                <%- include("../partials/menulateral.ejs") %>
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <%- include("../partials/menutopo.ejs") %>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Clientes</h1>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Cadastre o Cliente e gere seu boleto</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <div class="container">

                                <div class="card o-hidden border-0 shadow-lg my-5">
                                    <div class="card-body p-0">
                                        <!-- Nested Row within Card Body -->
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="p-5">
                                                    <div class="text-center">
                                                        <h1 class="h4 text-gray-900 mb-4">Preencha este formulário</h1>
                                                    </div>
                                                    <form  action="/clientes" method="POST">
                                                        <div class="campo">
                                                            <i class="material-symbols-outlined">deployed_code</i>
                                                            <input <% if(clienteUpdate.id != undefined){ %> readonly <% } %>type="number" name="id" id="id" placeholder="Seu id" min="1" value="<%= clienteUpdate.id %>" required>
                                                            <label for="id">Id</label>
                                                        </div>
                                                        <div class="campo">
                                                            <i class="material-symbols-outlined">person</i>
                                                            <input type="text" name="nome" id="nome" value="<%= clienteUpdate.nome %>" placeholder="Seu nome" required>
                                                            <label for="nome">Nome</label>
                                                        </div>
                                                        <div class="campo">
                                                            <i class="material-symbols-outlined">person</i>
                                                            <input type="number" name="idade" id="idade" value="<%= clienteUpdate.idade %>" placeholder="Sua idade"  min="1" required >
                                                            <label for="idade">Idade</label>
                                                        </div>
                                                        <input type="hidden" name="_id" value="<%= clienteUpdate._id %>">
                                                        <input type="submit" class="cadastrar" value="<% if(clienteUpdate.id != undefined){%>Editar<%} else{%>Cadastrar<%}%>">
                                                    </form>
                                                    <!-- <form action="../control/cliente.php"  method="POST">
                                                    <input type='hidden' value="" name = "id">
                                                        <div class="form-group">
                                                            <input class="input-claro" type="text" id="nome" class="form-control"  name="nome" placeholder="Nome completo:" value=""required>
                                                        </div>
                                                        <div class="form-group">
                                                            <input class="input-claro" type="email" id="email" name="email" class="form-control" placeholder="E-mail:" value=""required>
                                                        </div>
                                                        <div class="form-group">
                                                            <input class="input-claro" type="text" id="tel" name="telefone" minlength="11" maxlength="15" class="form-control" placeholder="Telefone:" value=""required>
                                                        </div>
                                                        <div class='endereco'><hr>
                                                            <div class="form-group">
                                                            <select class="input-claro" id="uf" name="uf" value=""required>
                                                                <option value="Pernambuco">Pernambuco</option>
                                                                <option value="Maranhão">Maranhão</option>
                                                                <option value="Piauí">Piauí</option>
                                                                <option value="Ceará">Ceará</option>
                                                                <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                                                                <option value="Paraíba">Paraíba</option>
                                                                <option value="Sergipe">Sergipe</option>
                                                                <option value="Alagoas">Alagoas</option>  
                                                                <option value="Bahia">Bahia</option>                                                           
                                                            </select>
                                                            
                                                            </div>
                                                            <div class="form-group">
                                                                <input class="input-claro" type="text" id="cidade" name="cidade" placeholder="Cidade" value=""required>
                                                            </div>
                                                            <div class="form-group">
                                                                <input class="input-claro" type="text" id="bairro" name="bairro" placeholder="Bairro" value=""required>
                                                            </div>
                                                            <div class="form-group">
                                                                <input class="input-claro" type="number" id="numero" name="numero" placeholder="numero" value=""required>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                        <div class="form-group">
                                                                <input class="input-claro" type="password" minlength="8" class="form-control" id="senha" name="senha" placeholder="Senha:"required>
                                                            </div>
                                                        <input class="btn btn-primary btn-user btn-block" type="submit" name="enviar" id="enviar" value="Enviar">
                                                    </form> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <%- include("../partials/menubaixo.ejs") %>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
    <script src="/js/gerar.js"></script>
</body>
</html>